@import '../../Styles/base/palette';

.hero {
    padding-bottom: 100px;

    h1 {
        font-size: 3.5em;
        margin-top: 60px;
        line-height: 1.3;

        span {
            color: $dark-green;
        }
    }

    .btns {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .row {
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        & >* {
            text-align: center;
        }
    }
}