@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500..800&display=swap');
@import './palette';

* {
    margin: 0;
}

body {
    font-family: "Manrope", serif;
    font-weight: 500;
    background-color: #ebebeb;
}

.logo {
    font-weight: 800;
    color: $dark-green;
}

h1, h2, h3 {
    font-weight: 700;
}